#rectangleBlue {
	position: absolute;
	z-index: 900;
	left: 19.1%;
	top: 15.8%;
	width: 31.8%;
	height: 31.7%;
}

/* -- Galery --*/
.slideshowContainer {
	position: relative;
	margin: auto;
}

.dotsDiv {
	font-size: 15px;
	position: absolute;
	width: 100%;
	text-align: center;
	top: 625px;
}

.dotSlide {
	cursor: pointer;
	height: 17px;
	width: 17px;
	margin: 0 4px;
    border: 1px white solid;
    border-radius: 10%;
	display: inline-block;
}

.active {
	background-color: rgb(37, 191, 236);
}

#rectangleBlue {
	position: absolute;
	z-index: 900;
	background: url("gallery/rectangleBlue.png");
	background-repeat: no-repeat;
	background-size: auto;
	left: 19.1%;
	top: 22.8%;
	width: 522px;
	height: 312px;
}

#titleBlue {
	font-weight: 600;
	font-weight: bold;
	font-family: 'Maven Pro';
	font-size: 30px;
	padding-left: 37px;
	padding-top: 34px;	
	margin-bottom: 0px;
	color: white;
}

#titleBlueBottom {
	font-weight: 600;
	font-weight: bold;
	font-family: 'Maven Pro';
	font-size: 30px;
	padding-left: 37px;
	margin-top: -10px;	
	color: white;
}

#textBlue {	
	text-align: justify;
    text-justify: inter-word;
	-moz-text-align-last: center; /* Code for Firefox */
	padding-left: 37px;
	padding-right: 40px;
	padding-bottom: 9px;
	font-size: 15px;
	font-family: 'Maven Pro';
	color: white;	
}

#rectangleGetQuote {
	width: 218px;
	height: 58px;
	
	background: url(gallery/rectangleGetQuote.png);
	background-repeat: no-repeat;
	background-size: auto;
	margin-left: 34px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#buttonBlue {
	font-family: 'Maven Pro';
	color: white;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
}
/* -- Galery fin -- */