.infoContainer {
	width: 100%;
	padding: 0px 248px;
	height: 580px;
	background: url(rectangleInfo.png);
	/*NU UITA SA O FACI 1PX ALBA*/
	border: 1px white solid;
}
	
.container {
	margin: 15px 8px 22px 8px;
	
}

.about {
	text-align: center;
	margin: 29px auto;
	/*border: 2px green solid;*/
	width: 1020px;
}

#aboutTitle {
	font-size: 26px;
	width: 160px;
	font-family: 'Maven Pro';
	text-align: center;
	color: #7c7c7c;
}
	
.par {
	text-align: justify center;
	-moz-text-align-last: center; /* Code for Firefox */
    text-align-last: center;
	font-family: 'Maven Pro';
	font-size: 16px;
	color: #848484;
}
	
.elipse {
	margin: auto;
	border-radius: 50%;
	background-color:  #404041;
	width: 90px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
}
		
.icon {
	margin: 0;
}
	
.serviceDescription {
	margin: -8px 0px 0px 0px;
	height: 33px;
	font-family: 'Maven Pro';
	color: #848484;
	font-size: 14px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.serviceTitle {
	height: 71px;
	color: rgb(37, 191, 236);
	font-family: 'Maven Pro';
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

#centerRectangleReadMore {
	display: flex;
	align-items: center;
	justify-content: center;
}

#rectangleReadMore {
	width: 136px;
	height: 56px;
	background: url(info/rectangleReadMore.png);
	background-repeat: no-repeat;
	background-size: auto;
	display: flex;
	align-items: center;
}

#aboutHeader {
	display: flex;
	align-items: center;
	justify-content: center;
}

#lineLeft {
	width: 460px;
	margin-right: 35px;
	height: 1px;
	border-top: 1px solid #d1d1d1;
}

#lineRight {
	width: 460px;
	margin-left: 35px;
	height: 1px;
	border-top: 1px solid #d1d1d1;
}

#rectangleGetQuote {
	width: 136px;
	height: 56px;
	background: url(gallery/rectangleGetQuote.png);
	background-repeat: no-repeat;
	background-size: auto;
	display: flex;
	align-items: center;
}

#rectangleReadMore p {
	color: #adadad;
	cursor: pointer;
	padding-top: 27px;
	padding-left: 20px;
	font-size: 16px;
	font-family: 'Maven Pro';
	text-transform: uppercase;
}			