body {
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	height: 100%;
	background-color: green;
	margin: 0;
}

#rectangleMenu, #rectangleImage, #rectangleInfo, #rectangleClients {
	width: 100%;
	height: auto;
	line-height: normal;
}

/* ---- menu images ---- */	
.containerMenu { 
	position: relative;
	margin: 0;
}
	
#iconV3 {
	position: absolute;
	top: 24%;
	left: 15%;
	width: 20%;
	vertical-align: middle;
}
	
#rectangleQuote{
	position: absolute;
	top: 0%;
	left: 65%;
	height: 40%;
}
	
#rectanglePhone{
	position: absolute;
	top: 0%;
	left: 56%;
	height: 40%;
}
	
#iconBBB {
	position: absolute;
	top: 10%;
	right: 15%;
	width: 3%;
}
/* --------------------- */

/* -- container image --*/
#rectangleImage {

}

.containerBlue {

}
/* ---------------------*/